/* Margin */
.marg-0{
    margin:0px;
}
.marg-5{
    margin:5px;
}
.marg-10{
    margin:10px;
}
.marg-15{
    margin:15px;
}

.marg-20{
    margin:20px;
}

/* Padding */
.pad-0{
    margin:0px;
}
.pad-5{
    margin:5px;
}
.pad-10{
    margin:10px;
}
.pad-15{
    margin:15px;
}

.pad-20{
    margin:20px;
}
/* Display */
.inline{
    display: inline;
}

.block{
    display:block;
}

.flex{
    display: flex;
}

.center_row_column{
    flex-direction: row;
    justify-content: center;
    align-items: center;
} 

.center_column_row{
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.center_column{
    flex-direction: column;
    justify-content: center;
}

.space_between_row{
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.space_around_row{
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.space_between_column{
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.flexStart_row{
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.flexStart_column{
    flex-direction:column;
    justify-content: flex-start;
    align-items: center;
}

.flexEnd_row{
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

/* Position */
.relative{
    position: relative;
}

.absolute{
    position: absolute;
}

.fixed{
    position: fixed;
}

/* Font_size */

.font_1{
    font-size: 1em;
}

.font_1_3{
    font-size: 1.3em;
}

.font_1_5{
    font-size: 1.5em;
}

.font_2{
    font-size: 2em;
}

.font_3{
    font-size: 3em;
}

/* Color */
:root{
    --transparent: transparent;
    --gris: #383838;
    --grisClair:#EFEFEF;
}

/* Taille Images */
:root{
    --big:256px;
    --medium:128px;
    --small:64px;
}

/* Polices */
@font-face {
    font-family: "Brush";
    src: url("../police/brush-script-mt/brush\ script\ mt\ kursiv.ttf");
}
/* Autres */

.soulignement{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 15%;
    height: 3px;
    background: linear-gradient(45deg,var(--grisClair), var(--gris), var(--grisClair));
    /* background-color: var(--gris); */
}